<div class="container-fluid" style="max-width: 50%;">
    <!-- Card for Messages List -->
    <div class="card">
        <!-- Card Header -->
        <div class="card-header mb-3">
            <h4 style="font-size:x-large; font-weight: bold;">Messages</h4>
        </div>
        <!-- Card Body for Message Items -->
        <div class="card-body" style="border-bottom: 1px solid #ddd;">
            <app-message-list></app-message-list>
        </div>
        <!-- Card Footer for Message Edit Form -->
        <div class="card-footer" style="padding-top: 10px;">
            <app-message-edit></app-message-edit>
        </div>
    </div>
</div>