<div class="container-fluid" style="max-width: 50%;">
    <!-- Panel for Messages List -->
    <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading mb-3">
            <h4>Messages</h4>
        </div>
        <!-- Panel Body for Message Items -->
        <div class="panel-body">
            <app-message-list></app-message-list>
        </div>
        <!-- Panel Footer for Message Edit Form -->
        <div class="panel-footer">
            <app-message-edit></app-message-edit>
        </div>
    </div>
</div>